<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">	
  <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
	<link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
	<link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="${STATIC_URL}css/common.css" rel="stylesheet">
    <link href="${STATIC_URL}css/index.css" rel="stylesheet">
</head>
<body>

<nav class="bk-horz-nav bk-horz-nav-min">
    <div class="bk-nav-logo fl">
        <img src="https://magicbox.bkclouds.cc/static_api/v3/components_pro/horizontal_nav1/images/logo.png">
    </div>
    <div class="bk-nav-user fr">
        <span class="mr5">admin</span>
        <img src="https://magicbox.bkclouds.cc/static_api/v3/components_pro/horizontal_nav1/images/avatar.png">
    </div>
    <ul class="bk-nav-links fr">
        <li class="bk-has-submenu">
            <a href="javascript:;">帮助</a>
            <ul class="bk-submenu">
                <li>
                    <a href="javascript:;">文档1</a>
                </li>
                <li>
                    <a href="javascript:;">文档2</a>
                </li>
                <li>
                    <a href="javascript:;">文档3</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<div class="bk-layout bk-layout-has-sidebar" style="height:calc(100% - 60px)">
    <div class="bk-sidebar slide-close">
        <div class="slide-switch">
            <i class="icon bk-icon icon-dedent f14"></i>
        </div>
        <div class="nav-list">
            <ul>
                <li class="pureLink open">
                  <a href="index.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-home"></i>
                      </span>
                      <span class="nav-name">首页</span>
                  </a>
                </li>
                <li class="pureLink">
                  <a href="detail.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-list"></i>
                      </span>
                      <span class="nav-name">详情</span>
                  </a>
                </li>
                <li class="pureLink">
                  <a href="tab.html">
                      <span class="icon-box">
                        <i class="bk-icon icon-line-chart"></i>
                      </span>
                      <span class="nav-name">统计</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                      <span class="icon-box">
                        <i class="bk-icon icon-plus-square"></i>
                      </span>
                      <span class="nav-name">一级菜单</span>
                  </a>
                  <div class="flex-subnavs">
                      <a href="javascript:;"><i></i>二级菜单</a>
                      <a href="javascript:;"><i></i>二级菜单</a>
                  </div>
                </li>
            </ul>
        </div>
        <div class="copyright">
           <p>Copyright &copy; 2012-2017 蓝鲸智云.</p> 
           <span>All Rights Reserved.</span>
        </div>
    </div>

    <div class="page-content">
        <div class="bk-panel mb20">
            <div class="bk-panel-body p25">
            	<form class="bk-form">
               	<div class="row">
               		
               		<div class="col-md-4 col-lg-4 col-xs-4">
					    <div class="bk-form-item mb20">
					        <label class="bk-label pr15" style="width:80px;">套餐类型</label>
					        <div class="bk-form-content" style="margin-left:80px;">
					            <select name="" id="" class="bk-form-select" style="width:100%;" placeholder="请选择">
					                <option value="">请选择</option>
					                <option value="">1</option>
					                <option value="">2</option>
					                <option value="">3</option>
					                <option value="">4</option>
					            </select>
					        </div>
					    </div>
					    <div class="bk-form-item mb20">
					        <label class="bk-label pr15" style="width:80px;">业务名称</label>
					        <div class="bk-form-content" style="margin-left:80px;">
					            <select name="" id="" class="bk-form-select" style="width:100%;" placeholder="请选择">
					                <option value="">请选择</option>
					                <option value="">1</option>
					                <option value="">2</option>
					                <option value="">3</option>
					                <option value="">4</option>
					            </select>
					        </div>
					    </div>
					    <div class="bk-form-item">
					        <label class="bk-label pr15" style="width:80px;">时间</label>
					        <div class="bk-form-content" style="margin-left:80px;">
					            <select name="" id="" class="bk-form-select" style="width:100%;" placeholder="请选择">
					                <option value="">请选择</option>
					                <option value="">1</option>
					                <option value="">2</option>
					                <option value="">3</option>
					                <option value="">4</option>
					            </select>
					        </div>
					    </div>
               		</div>

               		<div class="col-md-4 col-lg-4 col-xs-4">
					    <div class="bk-form-item mb20">
					        <label class="bk-label pr15" style="width:80px;">时间段</label>
					        <div class="bk-form-content" style="margin-left:80px;">
					            <input type="text" class="bk-form-input" placeholder="请输入关键字" style="width:100%;">
					        </div>
					    </div>
					    <div class="bk-form-item mb20">
					        <label class="bk-label pr15" style="width:80px;">告警源头</label>
					        <div class="bk-form-content" style="margin-left:80px;">
					            <select name="" id="" class="bk-form-select" style="width:100%;" placeholder="请选择">
					                <option value="">请选择</option>
					                <option value="">1</option>
					                <option value="">2</option>
					                <option value="">3</option>
					                <option value="">4</option>
					            </select>
					        </div>
					    </div>
               		</div>

               		<div class="col-md-4 col-lg-4 col-xs-4">
					    <div class="bk-form-item mb20">
					        <label class="bk-label pr15" style="width:80px;">日期</label>
					        <div class="bk-form-content" style="margin-left:80px;">
					            <input type="text" class="bk-form-input" placeholder="请输入关键字" style="width:100%;">
					        </div>
					    </div>
					    <div class="bk-form-item mb20">
					        <label class="bk-label pr15" style="width:80px;">城市</label>
					        <div class="bk-form-content" style="margin-left:80px;">
					            <select name="" id="" class="bk-form-select" style="width:100%;" placeholder="请选择">
					                <option value="">请选择</option>
					                <option value="">1</option>
					                <option value="">2</option>
					                <option value="">3</option>
					                <option value="">4</option>
					            </select>
					        </div>
					    </div>
					    <div class="bk-form-item">
					        <label class="bk-label pr15" style="width:80px;"></label>
					        <div class="bk-form-content tr">
					            <button class="bk-button bk-success">查询</button>
					        </div>
					    </div>
               		</div>
               </div>
               </form>
            </div>
        </div>
        <div class="bk-panel">
            <div class="bk-panel-header p25" role="tab">
                <div class="panel-title">成功率</div>
            </div>
            <div class="bk-panel-body p25">
                <div id="chart_box" style="height:400px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
<script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
<script src="${STATIC_URL}js/common.js"></script>
<script src="${STATIC_URL}js/index.js"></script>

</body>
</html>